.body-admin {
  .home-content {
    background-image: url(image_path("bg-admin.png")) !important;
    background-size: 872px 426px;
    background-repeat: no-repeat;
    background-position: center 100px;

    .boxes-row {
      margin: 30px auto 10px;
      @media (min-width: $screen-sm-min) {
        margin: 110px auto 30px;
      }
      max-width: 750px;

      .col-sm-4 {
        @media (min-width: 375px) and (max-width: $screen-sm-min - 1) {
          float: left;
          width: 50%;
        }
      }
    }

    .info-box {
      border: 1px solid #ccc;
      box-shadow: 0 0 10px 10px rgba(205, 214, 221, .3);
      background-color: rgba(240, 240, 240, .2);
      margin: 0 auto 20px;
      max-width: 100%;
      @media (min-width: $screen-sm-min) {
        margin-bottom: 80px;
        max-width: 160px;
      }
      height: 165px;

      .info-box-title {
        box-shadow: 0px 3px 3px #efefef;
        background-color: #fff;
        padding: 10px;
        color: #545454;

        h4 {
          margin: 0;
          text-shadow: 2px 2px rgba(163, 100, 149, .2);
          text-transform: uppercase;
        }
      }

      .info-box-content {
        .info-box-ico {
          margin-top: 15px;
          height: 33px;

          &.orders-ico {
            background: url(image_path("ico-order.png")) no-repeat center center;
            background-size: 28px 27px;
          }

          &.order_items-ico {
            background: url(image_path("ico-circuit.png")) no-repeat center center;
            background-size: 20px 25px;
          }

          &.users-ico {
            background: url(image_path("ico-people.png")) no-repeat center center;
            background-size: 32px 28px;
          }

          &.connections-ico {
            background: url(image_path("ico-offer.png")) no-repeat center center;
            background-size: 31px 31px;
          }

          &.carriers-ico {
            background: url(image_path("ico-carrier.png")) no-repeat center center;
            background-size: 36px 32px;
          }
        }

        .info-box-count {
          margin-top: 10px;
          text-shadow: 2px 2px rgba(0, 0, 0, .2);
          font-size: 32px;
          color: #98217d;
        }
      }
    }
  }
}
