.body-admin {
  .navbar-header-logo {
    background-size: 52px 26px;
    background-repeat: no-repeat;
    background-position: center 7px;
  }

  .navbar-form {
    @include navbar-vertical-align($input-height-small);
  }

  .search-form {
    .search-input {
      display: inline-block;
      background-image: url(image_path("ico-search.png"));
      background-size: 13px 13px;
      background-repeat: no-repeat;
      background-position: 9px center;
      width: 300px;
      padding: 5px 30px;
    }

    .search-clear {
      display: inline-block;
      background: url(image_path("ico-search-clear.png")) no-repeat;
      background-size: 13px 13px;
      width: 13px;
      height: 13px;
      position: relative;
      top: 1px;
      @media (min-width: $screen-sm-min) {
        top: 3px;
      }
      left: -27px;
    }
  }

  .navbar-nav {
    .logged-user-name {
      font-size: $font-size-smallest;

      .user-no-image {
        width: 29px;
        height: 29px;
      }
    }

    .dropdown-menu > li > a {
      &.dropdown-menu-link {
        padding-left: 35px;
      }

      &.settings-link {
        background-image: url(image_path("ico-settings.png")) !important;
        background-size: 12px 12px;
        background-repeat: no-repeat;
        background-position: 15px center;
      }

      &.logout-link {
        background-image: url(image_path("ico-logout.png")) !important;
        background-size: 12px 12px;
        background-repeat: no-repeat;
        background-position: 15px center;
      }
    }
  }
}
