.btn {
  font-weight: $semi-bold-font-weight;
}

.btn-lg, .btn-group-lg > .btn {
  padding: 12px 16px;
}

.prev {
  background-image: url(image_path("prev-arrow.png"));
  background-repeat: no-repeat;
  background-position: 20px center;
}

.next {
  background-image: url(image_path("next-arrow.png"));
  background-repeat: no-repeat;
  background-position: right 20px center;
}

.light-grey-container {
  background-color: #f5f5f5;
}

.grey-container {
  background-color: #e6e6e6;
}

.dark-grey-container {
  background-color: #d9d9d9;
}

label {
  font-weight: $semi-bold-font-weight;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}
