<p>
  We have received a password change request for your account: <%= @resource.email %>
  <br/>
  If you made this request, then please click on the link below.
</p>

<p><%= link_to "Reset password", edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you did not ask to change your password, then please ignore this email. No changes will be made to your account.</p>

<p>The team</p>
