<div class="container">
  <div class="row">
    <div class="list-panel col-xs-8">
      <%= render "admin/shared/list_panel" %>
    </div>

    <div class="profile-panel col-xs-4">
      <%= render "admin/shared/profile_panel" %>
    </div>
  </div>
</div>
